<nav class="navbar navbar-inverse">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    {{#link-to 'index'}}<a class="navbar-brand">Quoreddit Overflow</a>{{/link-to}}
  </div>
  <h4 id="session_stats" class="pull-right">Asked: {{currentSession.questions}} Answered:
   {{currentSession.answers}}</h4>
  <p>



  </p>
</nav>
