<nav class="navbar navbar-inverse">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Quoreddit Overflow</a>
  </div>
  <h4 id="session_stats" class="pull-right">Asked: {{currentSession.questions}} Answered:
   {{currentSession.answers}}</h4>
  <p>
    T̡̉̈́̂͂҉̪̯̕ͅh̞̰̳͔ͫͭȩ̨̪͎̃̈̐̆ͣ ͎̘̝̤ͧ̎̋͑́q̓̊ͩͭ҉̺͕̹̼̗̦̩͚u̶͇̭ͤ́̎̉ͦͧ͗̃͝ę̦̐̄͗ͭ̄ͧ͂̈̕͜s̹̪̘̟̉̉ͥ͐ͤt̻̲͕̱̽͐̓̂̆̍ͩ̄͢͞i̘͓̠̣̺̭ͨͮ̕ȏ͗̇͋͏͎͉͉̕ͅnͩ̍ͫ̑̈́͑́ ̾̐̊͗̊͊͑̚͏̠̱̜͖b̩̦̮̯͈̮̌̌ͦ͐̌ͦ́͠o̠͙̰͚̭̯̠ͩ͆ͣ́a̧͙̬͍̲͈̞ͤ̌͟͟ͅr͖̲͉̯̀̀̍̕d̶̼̞̞̭̩̺̥̬̏̅͑̑͋͐̍͝ ͯ͘͏̴͈̭f̢̺̘̹͑͊ͦͭͩ͑́o̩̜̗̘̗̬͓͋̒̒͑͡r̬̄͋͂ͨͧ̃ͥ͘ ̵̥͍̌͆̓̚r̵̥̯̼͐̔͢e̢̘̗͙̞̥̞̒̈͒͢a̱̞̮̗͉͉̳̍ͥ͐͛̌͜l̺͖͕̺̭͕̝͉̂̆ ̰̘͕̹̯̩͍̮̜ͧ͌͊ȃ̴̩͉͕ͥͅn͔̬̹̜͔̭̗̿ͦͩ͜͝ş̘͕͖̩̲̍̌ͭͬͅw̴̻̞͐̃̀̍e͖̞̫̊̓̅̌̋ͧ̓̏̚ͅr͈̦͚̜̥̺̓̀ş̬͉̜͇̤̤͎̍͒ͬ̎͂̈́̀͆̚͡ ͍̳̜̺͕̳ͬ͆͑͛ͮͮ̚̕f̙͎̥͑͋̈͌ͯͬͥ̀r̡̛͇̯͇͓͔̣̝̿̾ͮ̎ͭ̽oͮ͂͆̅ͦͪͭ҉̱̜̤͍̺̭̤̟m̛̻̟ͫ͛̌̿́ ̶͖̱͎̱̹͂ͪ͆͛͆ͅr̵̨̧̩̈́̽ͤͥͧ͛̊e̵̴͖̘͇͕͌͋ͅą̩̜̪͍̐̉ͣ̍ͯͮl̢̛͇̖̯̼̜̝̏̉͆ͨ̎̇͟ ̨͕͚̬͈ͭ̅ͫư͈͙̳̰̦͇ͤͫ́̀̀s͎̭ͫ̑̉́̓̋͊ë̢̻͙͚͙̭̭ͣͯ́̄̾͑͆̑̕r͙͙̼̙̳̰̣̍̋ͬ̓̆̋̐s̵̹̞̉̇͌̿ͧ̋ ̴̵̼̘̖͍̩ͦ͆̈͠a̫̟̳͙͕̜͓͂̍̆ͦ̋̅̔̿̀l̮̗̮̥̀̈͊͂͌̕͠l͓̳͉̖̱͇̣̫͛ͥ̽̅̑̃̾̈́͡͞ ̟̤̯̓̑̽͊ͥ̑ͬ̀̀͠t̷̗̦͖ͪ͘͝ḣ́͏̤̹̕e̸̸̻͖̙̤͉͎̅̃̓̉ͦ̾ ̴̘̫̑ͬ̈̽t̡̨̠͉̼͔͕̂̓̐̌̍î͚̗̙͉̩̱̠̬ͨ̀m̦̣̖̹̺̥̗̈́̎͡e̤̹͍̘ͥ͊͑̑̒̿̅ ̵̧͉̮̠̪̤̜̺̑̋̄ͅḅ͚̼͓̣͌ͮ̏͌ͯͦ͝u̓̐̚͞͏̜̬d̞̮̳̲̣̔ͮ̾͜͢d̵̵͈̘̫͛ͭ͝ÿ̷̢̨̻͍̰̳̪ͤ͊̒̆̓̆̍ͅ,̵̗ͮ͌ͦͬ̈͠ ̵̥̘͎̩ͪ̆ͯͤͫ͋ͪ̈̀y̧͆̾ͭ̊̿͋̇̿҉̖͕̹̱̪̫ĕͨ͂ͭ̂̄͏̖̰̲a̩͖̫͇̝͚̾̾̅̿h̔͌́͋͛̊̉͏̠͕̣̠̤̻̘ ͔̲̩́̚a̷̯̳͖̯ͨ̑ͤ͊ḽ̸̛̰̤̽̆͟l̯̖̫̯̝̼̗̖̤͊̍̐́ ̨̨̣̻͈̟͍̳ͬͨͅr̡̯̟̖̝̮͉̳̹͛̋ͯ̏̃̚e̺̲̬̝̥̟̰̹̣̾͐͗͌͐̄̚̕͞a̡͇̥͖̰͑̍͐ͦ̌͌͌̅͂͝l͓͖̥̯͖̇͠ ̷͔̪̗͈̎̓i̱͇͙̦͕͂̀́t͉̻̳̞͓͙͔̦ͧ ̵̥̘͎̩ͪ̆ͯͤͫ͋ͪ̈̀y̧͆̾ͭ̊̿͋̇̿҉̖͕̹̱̪̫ĕͨ͂ͭ̂̄͏̖̰̲a̩͖̫͇̝͚̾̾̅̿h̔͌́͋͛̊̉͏̠͕̣̠̤̻̘ ͔̲̩́̚a̷̯̳͖̯ͨ̑ͤ͊ḽ̸̛̰̤̽̆͟l̯̖̫̯̝̼̗̖̤͊̍̐́ ̨̨̣̻͈̟͍̳ͬͨͅr̡̯̟̖̝̮͉̳̹͛̋ͯ̏̃̚e̺̲̬̝̥̟̰̹̣̾͐͗͌͐̄̚̕͞a̡͇̥͖̰͑̍͐ͦ̌͌͌̅͂͝l͓͖̥̇͠ ̴̡͔̩̣̗̇ͮ͆ͦ̄̽̔ͬ̚ͅs̛̠̹̠ͪ̆̇̂ḝ̴͍̹̞̫̙̙͔̥ͬͦ̔̚è̱͙̰̦̹ͮ͌͑ͦ̆͋͟͡m̸̧̧̤̟̬̹͛ͣͥͮͨ͛ͪs̘̤̩̰͑͒͢͠ͅ ̨̣̬͍̞̪̈́̏ͭ̐ͯ̆̐f̪͋̊͛͒ͨ̃ͮ͊͠ͅa̴̙͙͕̖͍̽̿̃ͩ̐ͭ̅̂ͅk̸̡̭̝̝̠̼̮͋̌̈́̓̀̂̚e̵͑ͯͨ͟҉̻̯̭̩̘̣̲.̬̦̭̫̠ͯͬ̿ͨ͑ ̹̤͕̜̭̞̳ͧ͌ͮ̕͝ ̨̯̻ͯ̂ͅs̢̛̻̲̯̠̙͚̏̉ͯ̾̈́͛̔̉͟o̬̼̞͍͎̐ͥ ̨̨̣̻͈̟͍̳ͬͨͅr̡̯̟̖̝̮͉̳̹͛̋ͯ̏̃̚e̺̲̬̝̥̟̰̹̣̾͐͗͌͐̄̚̕͞a̡͇̥͖̰͑̍͐ͦ̌͌͌̅͂͝l͓͖̥̯͖̇͠ ̷͔̪̗͈̎̓i̱͇͙̦͕͂̀́t͉̻̳̞͓͙͔̦ͧ ̴̡͔̩̣̗̇ͮ͆ͦ̄̽̔ͬ̚ͅs̛̠̹̠ͪ̆̇̂ḝ̴͍̹̞̫̙̙͔̥ͬͦ̔̚è̱͙̰̦̹ͮ͌͑ͦ̆͋͟͡m̸̧̧̤̟̬̹͛ͣͥͮͨ͛ͪs̘̤̩̰͑͒͢͠ͅ ̨̣̬͍̞̪̈́̏ͭ̐ͯ̆̐f̪͋̊͛͒ͨ̃ͮ͊͠ͅa̴̙͙͕̖͍̽̿̃ͩ̐ͭ̅̂ͅk̸̡̭̝̝̠̼̮͋̌̈́̓̀̂̚e̵͑ͯͨ͟҉̻̯̭̩̘̣̲.̬̦̭̫̠ͯͬ̿ͨ͑ ̹̤͕̜̭̞̳ͧ͌ͮ̕͝
     ͈͈͎̫͓͚̖̀ͭͭͭ̈ͯ̆͡Į̥͚̼̼ͩ̈́̏̐͒̒̔̋t͙͖͚̞̙͇̝͍̐̎̌̌̒ș̢̗̱͇̯ͩͫ̊̓ͥͨ̿͒̚ ̨̯̻ͯ̂ͅs̢̛̻̲̯̠̙͚̏̉ͯ̾̈́͛̔̉͟o̬̼̞͍͎̐ͥ ̨̨̣̻͈̟͍̳ͬͨͅr̡̯̟̖̝̮͉̳̹͛̋ͯ̏̃̚e̺̲̬̝̥̟̰̹̣̾͐͗͌͐̄̚̕͞a̡͇̥͖̰͑̍͐ͦ̌͌͌̅͂͝l͓͖̥̯͖̇͠ ̷͔̪̗͈̎̓i̱͇͙̦͕͂̀́t͉̻̳̞͓͙͔̦ͧ ̴̡͔̩̣̗̇ͮ͆ͦ̄̽̔ͬ̚ͅs̛̠̹̠ͪ̆̇̂ḝ̴͍̹̞̫̙̙͔̥ͬͦ̔̚è̱͙̰̦̹ͮ͌͑ͦ̆͋͟͡m̸̧̧̤̟̬̹͛ͣͥͮͨ͛ͪs̘̤̩̰͑͒͢͠ͅ ̨̣̬͍̞̪̈́̏ͭ̐ͯ̆̐f̪͋̊͛͒ͨ̃ͮ͊͠ͅa̴̙͙͕̖͍̽̿̃ͩ̐ͭ̅̂ͅk̸̡̭̝̝̠̼̮͋̌̈́̓̀̂̚e̵͑ͯͨ͟҉̻̯̭̩̘̣̲.̬̦̭̫̠ͯͬ̿ͨ͑ ̹̤͕̜̭̞̳ͧ͌ͮ̕͝
     ͈͈͎̫͓͚̖̀ͭͭͭ̈ͯ̆͡Į̥͚̼̼ͩ̈́̏̐͒̒̔̋t͙͖͚̞̙͇̝͍̐̎̌̌̒ș̢̗̱͇̯ͩͫ̊̓ͥͨ̿͒̚ ̨̯̻ͯ̂ͅs̢̛̻̲̯̠̙͚̏̉ͯ̾̈́͛̔̉͟o̬̼̞͍͎̐ͥ ̨̨̣̻͈̟͍̳ͬͨͅr̡̯̟̖̝̮͉̳̹͛̋ͯ̏̃̚e̺̲̬̝̥̟̰̹̣̾͐͗͌͐̄̚̕͞a̡͇̥͖̰͑̍͐ͦ̌͌͌̅͂͝l͓͖̥̯͖̇͠ ̷͔̪̗͈̎̓i̱͇͙̦͕͂̀́t͉̻̳̞͓͙͔̦ͧ ̴̡͔̩̣̗̇ͮ͆ͦ̄̽̔ͬ̚ͅs̛̠̹̠ͪ̆̇̂ḝ̴͍̹̞̫̙̙͔̥ͬͦ̔̚è̱͙̰̦̹ͮ͌͑ͦ̆͋͟͡m̸̧̧̤̟̬̹͛ͣͥͮͨ͛ͪs̘̤̩̰͑͒͢͠ͅ ̨̣̬͍̞̪̈́̏ͭ̐ͯ̆̐f̪͋̊͛͒ͨ̃ͮ͊͠ͅa̴̙͙͕̖͍̽̿̃ͩ̐ͭ̅̂ͅk̸̡̭̝̝̠̼̮͋̌̈́̓̀̂̚e̵͑ͯͨ͟҉̻̯̭̩̘̣̲.̬̦̭̫̠ͯͬ̿ͨ͑ ̹̤͕̜̭̞̳ͧ͌ͮ̕͝
  </p>
</nav>
