body {
  font-family: monospace;
}

.each_question {
  color: black;
  list-style: none;
  font-size: 1.6em;
  font-weight: bold;
  border-style: solid;
  border-color: #555;
  margin: 9px;
  box-shadow: 5px 5px 3px #AAA;

}
.each_question a {
  color: black;
  background-color: white;
}

.each_question a:hover {
  color: white;
  background-color: black;
}

.question_detail {
  height: 335px;
}
