body {
  font-family: monospace;
}

.each_question {
  color: black;
  list-style: none;
  font-size: 2em;
  font-weight: bold;
  border-style: solid;

}
.each_question a {
  color: black;
  background-color: white;
}

.each_question a:hover {
  color: white;
  background-color: black;
}
