<h2>Here are the deets about this question.</h2>

<div class="question_detail">

  <h2>Q: {{model.title}}</h2>
  <h3>Author: {{model.author}}</h3>
  <h4>{{model.detail}}</h4>
  <!-- <h5>Asked On: {{model.date}}<h5> -->

</div>
